@charset "utf-8";
/* 
  css設定 @charsetが消されるsass仕様へのハック用コメントです。削除しないでください。新規作成時も必須！
 */
@import "inc/mixin.scss";
@import "inc/functions.scss";
@import "inc/param.scss";

.equipment01 {
  main img {
    max-width: 100%;
  }
  .img {
    position: relative;
  }
  main {
    font-family: "RyuminPro", serif;
  }
  .page-annotation {
    font-family: "Noto Sans JP", sans-serif;
  }
  sup {
    vertical-align: text-top;
  }
  .sections {
    line-height: 1;
    .inner {
      margin: 0 auto;
      width: 70%;
      max-width: 1030px;
    }
    .image {
      position: relative;
      text-align: center;
      width: 80%;
      margin: 0 auto;
    }
    .tit {
      font-size: 1.8rem;
      letter-spacing: 0.12em;
      color: #fff;
      background: #1D2A56;
      margin-bottom: 30px;
      padding: 10px;
    }
    .text {
      font-size: 19px;
      line-height: 1.6;
    }
    .caps {
      font-size: 12px;
      line-height: 1.2;
    }
  } //sections
  .sec01 {
    margin-top: 40px;
    .lists {
      margin-bottom:30px;
      li {
        display: inline-block;
        vertical-align: top;
        width: 31%;
        margin-right: 2%;
        margin-bottom: 30px;
        &.full{
          width: 100%;
          .lead{
            width: 70%;
            float: left;
          }
          .image{
            width: 27%;
            float: right;
          }
        }
      }
      li:nth-child(3n),li:last-child {
        margin-right: auto;
      }
      &.list03 li:nth-child(6){
        .image{
          margin-bottom: 0;
          &.img-sub{
            margin-bottom: 30px;
          }
        }
      }
    }
  } //sec01
  .sec02 {
    margin-bottom: 60px;
    .lists {
      margin-bottom: 60px;
      li {
        display: inline-block;
        vertical-align: top;
        width: 48%;
        margin-right: 2%;
        margin-bottom: 30px;
        .lead{
          width: 50%;
          float: left;
        }
        .image{
          width: 45%;
          float: right;
        }
        &.full {
          width: 100%;
          margin-bottom: 0;
          .lead{
           width: 36%;
          }
          .image{
            width: 60%;
          }
        }
      }
      li:nth-child(2n) {
        margin-right: auto;
      }
      li:last-child {
        margin-right: auto;
      }
    }
  } //sec02

  main {
    padding-bottom: 50px;
  }

  @media screen and (max-width: 1300px) {
  }
  @media screen and (max-width: 1024px) {
  } //tb
  @media screen and (max-width: 768px) {
    .sections {
      .inner {
        width: 84%;
      }
      .tit {
        font-size: 2.2rem;
        margin-bottom: 30px;
        &:before,
        &:after {
          content: none;
        }
      }
      .lead {
        span {
          font-size: 13px;
        }
      }
      .text {
        font-size: 17px;
      }
      .caps {
        font-size: 13px;
      }
    } //sections
    .sec01 {
      margin-top: 40px;
      .lists {
        li {
          display: block;
          width: 100%;
          margin-bottom: 40px;
          &.full{
            .lead,.image{
              float: none;
              width: 100%;
            }
            .image{
              width: 80%;
              margin: 0 auto;
            }
          }
        }
      }
    } //sec01
    .sec02 {
      margin-bottom: 20px;
      .lists {
        margin-bottom: 0;
        li {
          display: block;
          width: 100%;
          margin-bottom: 40px;
          &.full{
            margin-bottom: 30px;
            .lead,.image{
              float: none;
              width: 100%;
            }
            .image{
              width: 80%;
              margin: 0 auto;
            }
          }
          .lead,.image{
            float: none;
            width: 100%;
          }
          .image{
            width: 80%;
             margin: 0 auto;
          }
        }
      }
    } //sec02
    main {
      padding-bottom: 50px;
    }
  } //sp
}
