@charset "UTF-8";
/* 
  css設定 @charsetが消されるsass仕様へのハック用コメントです。削除しないでください。新規作成時も必須！
 */
#adtag {
  opacity: 0;
}

.breadcrumb {
  padding: 20px 2%;
  border-top: 1px solid #f1e9dc;
  border-bottom: 1px solid #f1e9dc;
  background: #fff;
  color: #000;
}

.breadcrumb ul {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: 0.02em;
  color: #888;
}

.breadcrumb ul li a {
  color: #000;
}

.breadcrumb ul li:not(:last-child) a::after,
.breadcrumb ul li:not(:last-child) p::after {
  content: " ＞ ";
  display: inline-block;
}

.annotation-area {
  background: #fff;
  color: #797979;
  padding: 40px 0;
}

.page-annotation {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 10px;
  line-height: 1.8;
}

.wrap {
  margin: 0 auto;
  width: 84%;
  max-width: 1200px;
}

.garamond {
  font-family: "adobe-garamond-pro", serif;
  font-weight: 400;
  font-style: normal;
}

#public main img {
  width: 100%;
}
#public .image {
  position: relative;
}
#public .image .annotation {
  position: absolute;
  bottom: 10px;
  right: 10px;
  text-align: right;
  font-size: 10px;
}
#public .image .annotation.white {
  color: #fff;
  text-shadow: 0px 0px 4px #000, 0px 0px 4px #000, 0px 0px 4px #000, 0px 0px 4px #000;
}
#public main {
  color: #000;
  font-family: "RyuminPro", serif;
  line-height: 1;
  background: #f5f7f8;
  letter-spacing: 0.12em;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#public sup {
  font-size: 10px;
  vertical-align: super;
}
#public sp {
  display: none;
}
#public pc {
  display: block;
}
#public .page-annotation {
  font-family: "Noto Sans JP", sans-serif;
  letter-spacing: 0;
}
#public .main-visual {
  position: relative;
  border: none;
  margin-bottom: 100px;
}
#public .sections .inner {
  margin: 0 auto;
  width: 84%;
  max-width: 1200px;
}
#public .sections .image {
  position: relative;
}
#public .sections .annotation {
  font-size: 10px;
  text-align: right;
}
#public .sections {
  text-align: center;
  margin-bottom: 100px;
}
<<<<<<< HEAD
#public .sec01 .tit {
=======
#public .sections .tit {
>>>>>>> 5579e1827fcf71342181fedc6dd1373814e2153f
  font-size: 44px;
  color: #697b85;
  letter-spacing: 0.15em;
  margin-bottom: 60px;
}
<<<<<<< HEAD
#public .sec01 .text {
=======
#public .sections .text {
>>>>>>> 5579e1827fcf71342181fedc6dd1373814e2153f
  font-size: 30px;
  line-height: 2;
  letter-spacing: 0.12em;
  margin-bottom: 40px;
}
<<<<<<< HEAD
#public .sec01 .lead {
=======
#public .sections .lead {
>>>>>>> 5579e1827fcf71342181fedc6dd1373814e2153f
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 100px;
}
#public .sec02 {
  text-align: center;
  position: relative;
  margin-bottom: 160px;
}
#public .sec02 .img02 {
  margin-bottom: 80px;
}
#public .sec02 .txt {
<<<<<<< HEAD
  position: absolute;
  top: 10%;
  left: 10%;
=======
>>>>>>> 5579e1827fcf71342181fedc6dd1373814e2153f
  text-align: left;
  font-size: 28px;
  margin-bottom: 20px;
}
#public .sec02 .list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#public .sec02 .list li {
  width: 24%;
}
#public .sec02 .list .name {
  font-size: 16px;
  text-align: left;
  margin-top: 10px;
}
#public .sec02 .mini {
  text-align: right;
  font-size: 11px;
  margin-top: 10px;
}
#public .sec04 .list li {
  display: inline-block;
  vertical-align: top;
  width: 48%;
  margin-right: 2%;
}
#public .sec04 .list li:last-child {
  margin: auto;
}
#public .sec04 .list .lead {
  text-align: left;
  line-height: 2;
}
#public .sec04 .list .lead span {
  font-size: 13px;
}
#public .sec04 .annotation.left {
  left: 0;
  right: auto;
}
@media screen and (max-width: 768px) {
  #public sp {
    display: block;
  }
  #public pc {
    display: none;
  }
}
@media screen and (max-width: 768px) and (max-width: 768px) {
  #public .main-visual .annotation {
    bottom: -20px;
  }
  #public .swipe-img {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }
  #public .swipe-img img {
    max-width: auto !important;
    max-width: inherit !important;
    width: auto !important;
  }
  #public .swipe {
    display: block;
    text-align: center;
    margin: 20px auto 0;
  }
  #public .swipe img {
    max-width: 75px;
    width: 15%;
    height: auto;
    margin: auto;
    pointer-events: none;
  }
}
@media screen and (max-width: 768px) {
  #public .main-visual {
    padding-bottom: 40px;
    margin-bottom: 40px;
  }
  #public .sections {
    text-align: center;
    margin-bottom: 40px;
  }
<<<<<<< HEAD
  #public .sec01 .tit {
=======
  #public .sections .tit {
>>>>>>> 5579e1827fcf71342181fedc6dd1373814e2153f
    font-size: 36px;
    line-height: 1.4;
    margin-bottom: 40px;
  }
<<<<<<< HEAD
  #public .sec01 .text {
=======
  #public .sections .text {
>>>>>>> 5579e1827fcf71342181fedc6dd1373814e2153f
    text-align: left;
    font-size: 20px;
    line-height: 1.8;
    letter-spacing: 0.12em;
    margin-bottom: 20px;
  }
<<<<<<< HEAD
  #public .sec01 .lead {
=======
  #public .sections .lead {
>>>>>>> 5579e1827fcf71342181fedc6dd1373814e2153f
    text-align: left;
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 40px;
  }
<<<<<<< HEAD
  #public .sec02 .txt {
    position: absolute;
    top: 6%;
    left: 6%;
=======
  #public .sec02 {
    text-align: center;
    position: relative;
    margin-bottom: 60px;
  }
  #public .sec02 .img02 {
    margin-bottom: 80px;
  }
  #public .sec02 .img02 .annotation {
    bottom: -20px;
  }
  #public .sec02 .txt {
>>>>>>> 5579e1827fcf71342181fedc6dd1373814e2153f
    text-align: left;
    font-size: 22px;
    margin-bottom: 20px;
  }
  #public .sec02 .list {
    flex-wrap: wrap;
  }
  #public .sec02 .list li {
    width: 48%;
    margin-bottom: 15px;
  }
  #public .sec02 .mini {
    text-align: right;
    font-size: 11px;
    margin-top: 0;
  }
  #public .sec04 .list li {
    display: block;
    width: 100%;
  }
  #public .sec04 .list li:last-child {
    margin-top: 20px;
  }
}/*# sourceMappingURL=public.css.map */